.btn {
  padding: 1rem;
  border-radius: 0.75rem;
  border: none;
  background-color: hsla(0, 0%, 18%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0;
  transition: all 200ms;
}
